.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
    padding: 0 8%;
}

.footer-content {
    padding: 20px 15%;
    background: #080008;
    color: white;
    display: flex;
    font-family: "poppins", sans-serif;
    border-top-width: 5px;
    border-top-color: white;
    margin: auto;
}

.footer-content div {
    text-align: center;
}

.footer-col2 {
    flex-grow: 2;
}

.footer-content div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footer-col1 nav {
    display: block;
}

.footer-col1 nav ul li {
    display: flex;
}

.footer-col1 nav ul li a {
    text-decoration: none;
    color: white;
    margin-bottom: 13px;
    text-align: center;
}

.footer-col1 nav ul li a {
    transition: color 0.2s;
}

.footer-col1 nav ul li a:hover {
    color: gray;
}

.footer-col2 form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
    font-size: 18px;
}

.footer-col2 form button {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.footer-col2 form button:hover {
    background: white;
    border: 2px solid white;
    color: black;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.footer-col2 form button:focus {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.footer-socials a {
    padding: 0 5px;
}

.footer-copyright {
    width: 30%;
}

.footer-copyright h4 {
    font-size: 13px;
    font-family: "poppins", sans-serif;
    padding: 10px;
}