* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 6%;
    width: 100%;
    padding: 0 8%;
    top: 0;
    left: 0;
    background: #080008;
    position: relative;
    z-index: 1;
}

.header a {
    font-family: "poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 3vw;
}

.logo-title {
    margin: 0;
    left: -17vw;
    font-size: 1.8vw;
    padding: 0.4vw 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #fff;
    position: relative;
}

.logo-container {
    padding: 0;
    margin: 0;
    width: 0;
}

.nav-links {
    padding: 1.6vw 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 1vw;
}

.nav-links li a {
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 0.4vw 0;
    position: relative;
}

.separator {
    height: 0.05vw;
    margin: 0.1vw 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    border: 0;
}

.separator:after {
    display: block;
    content: '';
    height: 3vw; /* Relative height */
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-radial-gradient(center top, farthest-side, #555555 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #555555 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #555555 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(farthest-side at center top, #555555 0%, rgba(255, 255, 255, 0) 100%);
}