.body {
    position: fixed;
    top: 7%;
    width: 100%;
    background: white;
}

p, h1, h2, h3, h4, h5 {
    font-family: "poppins", sans-serif;
}

.fader {
    position: fixed;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(white,#73A0C7);
}