#content-wrap p {
    padding: 10px 20%;
    font-size: 22px;
    font-family: sans-serif;
}

#content-wrap h1, #content-wrap h2 {
    padding: 10px 20%;
    font-family: "poppins", sans-serif;
}

#end {
    padding-bottom: 25px;
}