.centered {
    text-align: center;
    align-content: center;
    align-items: center;
    horiz-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    text-wrap: normal;
}

body {
    background-color: #080008;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 15rem;
    z-index: 0;
}

.red_under::after {
    content: '';
    background: #ff3d00;
    width: 0;
    height: 0.1vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: width 0.2s;
    transform: translateX(-50%);
}

.red_under:hover::after {
    width: 50%;
}
p, h1, h2, h3, h4, h5 {
    color: white;
}

.separator {
    height: 0.05vw;
    margin: 0.1vw 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    border: 0;
}

.separator:after {
    display: block;
    content: '';
    height: 3vw; /* Relative height */
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-radial-gradient(center top, farthest-side, #555555 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #555555 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #555555 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(farthest-side at center top, #555555 0%, rgba(255, 255, 255, 0) 100%);
}